<header>
  <nav class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <a class="navbar-brand" href="/home"
            ><img
              src="/static/images/logo.png"
              class="rounded mx-auto d-block"
              alt="RA-11 Logo" style="height: 180px"
          /></a>
        </div>
      </div>
    </div>
  </nav>
  <%- include('navbar'); %>
</header>
