<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-dark mt-1" aria-label="Fifth navbar example">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarsExample05">
      <% var user1 = (typeof user != "undefined") ? user : "" %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if(user1){ %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item dropdown">          
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Contest
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/admin/tournament">Tournament</a></li>
            <li><a class="dropdown-item" href="/admin/team">Team</a></li>
            <li><a class="dropdown-item" href="/admin/player/add">Add Player</a></li>
            <li><a class="dropdown-item" href="/admin/players">Players List</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">          
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          My Matches
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/mymatches">Matches List</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">          
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/admin/people">User</a></li>
          </ul>
        </li>
        <% } %>
      </ul>      
      <% if(user1 != ''){ %>
        <div class="text-end">
          <span class="text-yellow">Hi, <%= user1.toUpperCase() %>!</span>
          <a href="/api/logout" class="btn btn-outline-light me-2"><i class='fas fa-power-off red'></i></a>
        </div>
      <% } else { %>
        <div class="text-end">
          <a href="/login" class="btn btn-outline-light me-2">Login</a>
          <a href="/register" class="btn btn-warning">Register</a>
        </div>
      <% } %>
    </div>
  </div>
</nav>