<div class="container-fluid">
   <div class="row">
      <div class="col-md-4">
         <div class="card text-light bg-dark mt-3 mb-3 h-100">
            <div class="card-header fw-bold">Dream 11 - Rules</div>
            <div class="card-body">
               <ol>
                  <li>Always remove under rated Players.</li>
                  <li>Star player section -- Be careful. Max - (4 - 5 players).</li>
                  <li>Select 2 - 3 players from both team for captain.</li>
                  <li>Select 4 - 5 players from both team for Vice captain.</li>
                  <li>Favour only one team.</li>
                  <li>Give proper Credit range. Best (97 to 99)</li>
                  <li>Select Best Combinations</li>
                  <li>Believing in yourself is the secret to success.</li>
               </ol>
               <p class="text-bold text-yellow">Today Match</p>
               <a class="btn btn-warning mb-2 today-match" href="/series">Available Series</a>
            </div>
         </div>
      </div>
      <div class="col-md-8">
         <div class="card text-white bg-dark mt-3 mb-3 h-100">
            <div class="card-header fw-bold">Dream 11 - Picks</div>
            <div class="card-body">
               <p class="card-text">
                  Never Ever Give Up
               </p>
               <div class="d-flex justify-content-xxl-center">
                  <img class="card-img-banner" src="/static/images/banner.png" alt="Card image" />
               </div>
            </div>
         </div>
      </div>
   </div>
</div>